In [15]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\pradyumn\\Documents\\Assignment\\Costomer+OrderForm.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [14]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [22]:
obs=([[271,267,269,280],[29,33,31,20]])

In [25]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(obs)
print("Statistics:",stat)
print("P Value:",p)

Statistics: 3.858960685820355
P Value: 0.2771020991233135

In [30]:
alpha = 0.05
prob=1-alpha
from scipy.stats import chi2
critical = chi2.ppf(prob, dof)
print("probability=",prob, "critical=",critical, "stat=",stat)
if abs(stat) >= critical:
	print('Dependent variable & H0 rejected and H1 accepted')
else:
	print('Independent variable H1 rejected and H0 accepted')

probability= 0.95 critical= 7.814727903251179 stat= 3.858960685820355
Independent variable H1 rejected and H0 accepted